
#edit-button {
    margin: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

#create {
    margin-top: 20px
}

#panel-container {
    display: flex;
    flex-wrap: wrap;
}

label{
    display: block;
}